<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajout Film</title>
</head>
<body>
    <form th:action="@{/movie/add}" method="POST" th:object="${movieForm}" id="addMovieform">
        <p>Le Titre : <input type="text" th:field="*{title}"/></p>
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        <select th:field="*{genre}">
            <option th:value="COMEDIE" th:text="Comédie"></option>
            <option th:value="HORREUR" th:text="Horreur"></option>
            <option th:value="THRILLER" th:text="Thriller"></option>
            <option th:value="ACTION" th:text="Action"></option>
            <option th:value="ROMANTIQUE" th:text="Romantique"></option>
            <option th:value="DRAME" th:text="Drame"></option>
            <option th:value="ANIMATION" th:text="Animation"></option>
        </select>
        <div th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></div>
        <p>La descrption :
            <textarea th:field="*{description}" form="addMovieform"></textarea>
        </p>
        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
        <p>Le prenom de l'acteur : <input type="text" th:field="*{firstName}"/></p>
        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
        <p>L nom de l'acteur : <input type="text" th:field="*{lastName}"/></p>
        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
        <input type="submit" value="OK" />
    </form>
</body>
</html>